.video1 {
    text-align: center;
    margin:20px;
    color: #353535;
    font-weight: 300;
    font-size: 21px;
}

.wrapper h3 {
    text-align: center;
    margin:20px;
    color: #353535;
    font-weight: 300;
    font-size: 21px;
}

.wrapper {
    display: flex;
    border-bottom: 2px solid #d5d5d5;
    background: #fff;
}

.wrapper h2 {
    font-size:20px;
    color:#940808;
    font-weight: bold;
}

.left {
    background-size: cover !important;
    font-size:30px;
}
.left content{
    font-size:30px;

}

.left div {
    width:90px;
    height:90px;
    background-size:  40px !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
     background: url('/images/cities/play.png'); 
}

.right {
    flex-grow: 1;
    padding:10px;
}

.relatedWrapper {
    margin:0 5px;
}

.video {
    background: #fff;
    margin:0 5px;
    border: 1px solid #c5c5c5;
}

.video h1{
    font-size: 25px;
    font-weight: 400;
    color: #4d4d4d;
    margin: 15px 0;
    padding:0 10px;
}

.video iframe {
    border:0;
}
.loadmore{
    text-align: center;
    background: #2196f3;
    border-bottom: 1px solid #d7d7d7;
    font-weight: 500;
    color:#eeeeee;
    padding:9px;
    cursor:pointer;
    font-size:15px;
  
     display:block; 
    text-decoration: none;
    height: 35px;
    width: 690px;
}